[Unit]
Requires=weston.service
After=weston.service

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=/run/user/200
ExecStart=/usr/bin/native-shell-client
Restart=on-failure

[Install]
WantedBy=multi-user.target
