[Unit]
Description=AGL Homescreen
Requires=WebAppMgr.service dbus.service
After=WebAppMgr.service dbus.service

[Service]
Type=simple
ExecStartPre=sleep 5
ExecStart=/usr/share/cef-wam/cef-wam --use-views --user-data-dir="/home/%u/wamdata" --appid=homescreen --url=/usr/lib/wam_apps/html5-homescreen
Restart=on-failure

[Install]
WantedBy=agl-session.target
